<h1>Edit Contact</h1><br>

<% if (typeof errors != 'undefined') { %>
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle"></i>
        <div>
            <ul>
                <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
                <% }) %> 
            </ul>
        </div>
    </div>
<% } %>

<form action="/contact/update" method="POST">

    <input type="hidden" name="oldname" value="<%= contact.name %>">

    <div class="mb-3">
        <label for="one" class="form-label">Name</label>
        <input type="text" class="form-control" id="one" name="name" required value="<%= contact.name %>">
    </div>
    <div class="mb-3">
        <label for="two" class="form-label">Telephone Number</label>
        <input type="text" class="form-control" id="two" name="telp" value="<%= contact.telp %> ">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

 