


<h2>INDEx PAGE</h2>

    <h1>STUDENT LIST</h1>

    <% if (students.length < 1) { %>
        <i>tidak ada data yang ditemukan</i>
    <% } %>

    <% students.forEach(std => { %> 
    <ul>
        <li>Name: <%= std.name %></li>
        <li>Grade: <%= std.grade %> </li>
    </ul>

<% }) %>